<figure class="card">
    <img src="assets/img/chaussure-air-vapormax-evo.jpg" alt="" class="carding"><ng-content select="[image]"></ng-content>
    <div class="cardName">
        <ng-content select="[name]"></ng-content>
    </div>
    <div class="cardPrice">
        <ng-content select="[price]"></ng-content>
    </div>
    <div class="cardPromo">
        <ng-content select="[promo]"></ng-content>
    </div>
    <div class="cardDesc">
        <ng-content select="[desc]"></ng-content>
    </div>
</figure>