/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fadeOut{
    transition: all .10s;
    opacity: 0;
}
.fadeIn{
    transition: all .10s;
    opacity:1;
}
